.SignInBoxParent{
    background-color: gray;
    height: 500px;
    width: 40%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Background{
    justify-content: center;
    
    display: flex;
    
}

.spacer{
     height: 200px;
}

.Spacer2{
    height: 200px;
}